/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #071B30, #0A2540);
    color: #ffffff;
    line-height: 1.7;
}

.container {
    width: 90%;
    max-width: 1150px;
    margin: auto;
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(8, 27, 47, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}

.nav-link {
    margin-left: 25px;
    color: #4FC3F7;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #00A8FF;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.nav-link:hover,
.nav-link.active {
    color: whi
