body {
font-family: Arial;
margin: 0;
background: #0A2540;
color: white;
text-align: center;
}

header {
padding: 20px;
background: #081B2F;
}

nav a {
margin: 10px;
color: #00A8FF;
text-decoration: none;
}

.hero {
padding: 60px;
}

.btn {
background: #00A8FF;
padding: 10px 20px;
color: white;
text-decoration: none;
}

.pricing {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card {
background: #112D4E;
margin: 15px;
padding: 20px;
width: 220px;
border-radius: 10px;
}
.hero {
    background: url('images/hero.jpg') no-repeat center/cover;
    padding: 120px 20px;
    text-align: center;
}

.hero-content {
    background: rgba(0,0,0,0.6);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.section-img {
    width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}

.banner-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    background: #112D4E;
    margin: 15px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.service-box img {
    width: 100%;
    border-radius: 10px;
}